@model Core.Api.Policies

@{
    ViewData["Title"] = "some";
}

<h1>some</h1>

<div>
    <h4>Policies</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyFromDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyFromDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyToDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyToDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetworkCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetworkCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetworkName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetworkName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TPAID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TPAID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TPAName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TPAName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicySponsorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicySponsorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrokerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrokerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SponsorID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SponsorID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iqama_NationalID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iqama_NationalID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaritalStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOBGreg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOBGreg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOBHijri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOBHijri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDExpiryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDExpiryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccupationCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OccupationCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccupationDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OccupationDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NationalityCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NationalityCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NationalityDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NationalityDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberTypeCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberTypeCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberTypeDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberTypeDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelationCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelationCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelationDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelationDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TushfaMemberNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TushfaMemberNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MigrationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MigrationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionPremium)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionPremium)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MigrationPremium)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MigrationPremium)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletionPremium)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletionPremium)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CCHIStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CCHIStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CCHIUploadDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CCHIUploadDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CCHIErrorMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CCHIErrorMessage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletionReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletionReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegionCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegionCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegionDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegionDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
